body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #B76E79;
    margin: 100px;
    padding: 0;
    font-size: 150%;
    text-align: left;
}

header, h1, h2 {
   text-align:center;
   font-size: 100%; 		
}

head {
     text-align:center;
}	

ul, li {
    list-style-type: disc;
    padding: 0;
    color: #B76E79;
    text-align: left;
}

ol {
    list-style-type: circle;
    padding: 0;
    color: #B76E79;
    text-align: left;
}

nav ul li {
    display: inline;
    margin-right: 100px;
    text-align: center;
    color: #B76E79;	
}

h1 {
    color: #B76E79;
    font-size: 150%;
}

h2 {
    color: #B76E79;
}

p {
    line-height: 1.6;
    font-size: 150%;
    margin-right: auto;
    margin-left: 100px;
}

form {
    color: #B76E79;
}

nav {
    font-size: 100%;
    display: block;
    text-align: center;
}

footer {
    font-size: 100%;
    color: #B76E79;
    text-align: center;
}

