<header>
	<link rel="icon" href="images/logo2.png" type="image/x-icon">
	<h1>Adrienne Potts Love's Forever Friends Soft Play</h1> <h3><img src="images/logo2.png" alt="Forever Friend's Logo"></h3>
	<link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96"/>
	<link rel="icon" type="image/svg+xml" href="images/favicon.png"/>
	<link rel="shortcut icon" href="images/favicon.png"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
	<link rel="manifest" href="/site.webmanifest"/>
		<nav>
			<a href="index.html">Home</a>&nbsp;
			<a href="introduction.html">Introduction</a>&nbsp;
			<a href="contract.html">Contract</a>&nbsp;
			<a href="brand.html">Brand</a>&nbsp;
			<a href="fizzbuzz0.html">Fizz Buzz 0</a>&nbsp;
			<a href="fizzbuzz1.html">Fizz Buzz 1</a>&nbsp;
			<a href="fizzbuzz2.html">Fizz Buzz 2</a>&nbsp;
			<a href="fizzbuzz3.html">Fizz Buzz 3</a>&nbsp;
		</nav>
</header>
