<header>
	<img src="images/trans_logo2.png" alt="Forever Friend's Logo">
	<h1>Adrienne Potts Love's Forever Friends Soft Play</h1>
		<nav>
			<a href="index.html">Home</a>&nbsp;
			<a href="introduction.html">Introduction</a>&nbsp;
			<a href="contract.html">Contract</a>&nbsp;
			<a href="brand.html">Brand</a>&nbsp;
			<a href="fizzbuzz0.html">Fizz Buzz 0</a>&nbsp;
			<a href="fizzbuzz1.html">Fizz Buzz 1</a>&nbsp;
			<a href="fizzbuzz2.html">Fizz Buzz 2</a>&nbsp;
			<a href="fizzbuzz3.html">Fizz Buzz 3</a>&nbsp;
		</nav>
</header>
