<header>
	<link rel="icon" href="images/logo2.png" type="image/x-icon">
	<h1><img src="images/logo2.png" alt="Forever Friend's Logo">Adrienne Potts Love's Forever Friends Soft Play<img src="images/logo2.png" alt="Forever Friend's Logo"></h1>
		<nav>
			<a href="index.html">Home</a>&nbsp;
			<a href="introduction.html">Introduction</a>&nbsp;
			<a href="contract.html">Contract</a>&nbsp;
			<a href="brand.html">Brand</a>&nbsp;
			<a href="adriennepotts.html">Business Card</a>&nbsp;
			<a href="fizzbuzz0.html">FizzBuzz0</a>&nbsp;
			<a href="fizzbuzz1.html">FizzBuzz1</a>&nbsp;
			<a href="fizzbuzz2.html">FizzBuzz2</a>&nbsp;
			<a href="fizzbuzz3.html">FizzBuzz3</a>&nbsp;
		</nav>
</header>
