body {
    font-family: Arial, sans-serif;
    background-color: #550578;
    color: #21dcd9;
    margin:  0 50px 50px 50px;
    padding: 0;
    font-size: 100%;
    text-align: left;
}

header, footer {
    	text-align: center;
	font-size: 25px; 
	display: block; 
	color: #F2BC2A; 
	text-decoration:none;
}

a:hover { 
	background-color: blue; 
} 

h1 {
	color: #21dcd9;
	font-size: 40px; 
}

h2 {
	text-align: center;	
	font-size: 35px; 
	color: #ffffff;
}

ul, li { 
    list-style-type: disc; 
    padding: 0; 
    font-size: 20px;	 
} 

p { 
	font-size: 150%; 
	margin-right: 100px; 
	margin-left: 100px; 
} 

p em { 
	text-align: center; 
}	 

figure, figcaption { 
	height: auto; 
	max-width: 50%; 
	text-align: center;
} 

nav { 
	font-size: 25px; 
	text-align: center;  
	box-shadow:0 0 5px 3px #c353f4; 
	border-radius: 15px; 
	padding: 7px; 
	text-decoration: none; 
	display: block; 
	color: #F2BC2A; 

} 
